@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .slide-right {
    animation: slide-right 0.4s ease-out 1;
  }
  @keyframes slide-right {
    0% {
      transform: translateX(300px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
